$skgreen: #00B481;
$skblack: #0A2533;
$skwhite: #ffffff;
$skLightWhite: rgba(255, 255, 255, 0.3);

$skgrey: rgba(243, 246, 249, 0.8);
$skLightGrey: #F5F7FA;
$skMidGrey: rgba(78, 90, 109, 0.1);
$skOffBlack: rgba(0, 0, 0, 0.2);
$skfont: 'Karla', sans-serif;

$skLightPara: #F3F6F9;

$smMobile: 640px;
$mobile: 768px;
$tablet: 1025px;


