footer {
    background: $skblack;
    min-height: 400px;
    padding: 90px 163px;
    color: $skwhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    
    p {
        font-family: $skfont;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 161.5%;
        /* or 19px */
        text-transform: uppercase;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        font-family: $skfont;
        width: 120px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 161.5%;
        /* identical to box height, or 23px */
        letter-spacing: -0.7px;
        color: $skgrey;
        list-style: none;
        transition: color, padding 0.3s ease-out;

        &:hover {
            color: $skgreen;
            cursor: pointer;
            border-left: 2px solid $skgreen;
            padding-left: 5px;
        }
    }
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: $mobile) {
            flex-direction: column;
            margin-left: 0;
        }

    }
    .footer-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        margin-left: 180px;

        @media (max-width: $tablet) {
            flex-wrap: wrap;
            margin-left: 80px;
        }

        @media (max-width: $mobile) {
            flex-wrap: wrap;
            margin-left: 0;
        }

    }
    .footer-bl {
        display: flex;
        justify-content: space-between;
        max-width: 400px;
    }

    @media (max-width: $mobile) {
        padding: 20px;
    }
}

.button-box-container {
    margin-top: 40px;
}

.button-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3px;
    border: $skLightWhite 0.5px solid;
    width: 262.42px;
    height: 61.97px;
    margin-bottom: 10.7px;
    transition: 0.3s all ease-out;

    p {
        width: 200px;
        font-family: $skfont;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 131.5%;
        /* or 17px */
    
        letter-spacing: -0.015em;
        text-transform: none;
    }

    &:hover {
        background: $skgreen;
        cursor: pointer;
    }
}