footer {
    background: $skblack;
    min-height: 300px;
    padding: 90px 163px;
    color: $skwhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    
    p {
        font-family: $skfont;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 161.5%;
        /* or 19px */
        text-transform: uppercase;
    }

    ul {
        margin: 0;
    }

    li {
        font-family: $skfont;
        min-width: 120px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 161.5%;
        /* identical to box height, or 23px */
        letter-spacing: -0.7px;
        color: $skgrey;
        list-style: none;
        transition: color, padding 0.3s ease-out;

        &:hover {
            color: $skgreen;
            cursor: pointer;
            border-left: 2px solid $skgreen;
            padding-left: 5px;
        }
    }
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-bl {
        display: flex;
        justify-content: space-between;
        max-width: 400px;
    }
}