header {
    display: flex;
    align-items: center;
    height: 98px;
    padding: 0 34px;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
}