header {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    height: 98px;
    padding: 0 34px;
    border-bottom: 1px solid rgba(10, 37, 51, 0.1);

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        color: $skblack;
        font-family: $skfont;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height */
        letter-spacing: -0.015em;
    }

    .left-header {
        width: 300px;
    }

    .right-header {
        width: 220px;
    }
}