@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $skfont;
  font-style: normal;
  font-weight: 600;
  font-size: 62px;
  line-height: 62px;
  /* or 101% */

  letter-spacing: -3px;
}

h2 {
  font-family: $skfont;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  /* identical to box height, or 112% */

  text-align: center;
  letter-spacing: -1.5px;
}

h3 {
  font-family: $skfont;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 52px;
  /* identical to box height, or 162% */

  letter-spacing: -1.5px;
}

p {
  font-family: $skfont;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */

  letter-spacing: -0.003em;
}

.start-button-small {
  background: $skgreen;
  padding: 15px 25px;
  color: $skwhite;
  text-decoration: none;
  border-radius: 84px;
}

.start-button-large {
  background: $skgreen;
  padding: 20px 40px;
  color: $skwhite;
  text-decoration: none;
  border-radius: 100px;
  font-family: $skfont;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  letter-spacing: -0.003em;

  &-green {
    padding: 15px 34px;
    text-decoration: none;
    border-radius: 100px;
    font-family: $skfont;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    
    letter-spacing: -0.003em;
    color: $skgreen;
    background: $skwhite;
    margin-top: 34px;
  }
}

/* index.js */

.hero {
  height: 798px;
  width: 100%;
  background:  linear-gradient(90deg, #F4F4F4 23.2%, rgba(248, 248, 248, 0) 44.65%), url("../../static/hero-image.png");
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;

  .hero-text {
    max-width: 1200px;
    margin-left: 163.02px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1, p, a {
      margin: 9px 0;
    }
    
    h1 {
      max-width: 620px;
    }

    p {
      max-width: 540px;
    }

    @media (max-width: $mobile) {
      margin-left: 30px;
    }
  }
  
}

.scan-data {
  position: absolute;
  left: 34px;
  color: $skblack;
  font-family: $skfont;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  letter-spacing: -0.5px;
}

.infobox {
  max-width: 1200px;
  height: 580px;
  margin: 120px auto;
  display: flex;

  .infobox-placeholder-img {
    height: 100%;
    width: 540px;
    background: $skgreen;
  }
  .infobox-img-container {
    width: 588px;
    height: 460px;
  
    @media (max-width: $mobile) {
      width: 100%;
      height: auto;
      margin: 40px auto;

    }
  }
  .infobox-text {
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: left;
      margin: 0;
      font-weight: bold;
      font-size: 48px;
      line-height: 52px;
      /* or 108% */

      letter-spacing: -1.5px;
    }

    p {
      font-size: 20px;
      line-height: 32px;
      /* or 160% */

      letter-spacing: -0.5px;
    }

    &.left {
      margin-left: 120px;
    }
    &.right {
      margin-right: 120px;
    }

    @media (max-width: $mobile) {
      width: 100%;
      margin: 0 10px;

      &.left, &.right {
        margin: 0;
      }
    }
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.sell-national {
  height: 520px;
  background: $skblack;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $skwhite;
  font-family: $skfont;
  font-style: normal;
  font-weight: 600;
  font-size: 62px;
  line-height: 62px;
  /* or 101% */
  
  text-align: center;
  letter-spacing: -1.5px;

  .sell-national-content {
    max-width: 946px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .highlight {
      color: $skgreen;
    }
    .sell-national-link {
      margin-top: 43.62px;
      font-family: $skfont;
      color: $skwhite;
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      /* identical to box height, or 18px */

      letter-spacing: -0.003em;
    }
  }
}

.get-started-grid {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 170px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 102px);
  grid-gap: 16px;
  
  @media (max-width: $mobile) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(13, 102px);
  }

  .gs-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    font-family: $skfont;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    //line-height: 42px;
    /* identical to box height, or 175% */

    text-align: center;
    letter-spacing: -1.5px;
    color: $skwhite;
  }

  .yellow {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    background: #FBD224;
  
    @media (max-width: $mobile) {
      grid-column: 1 / 4;
      grid-row: 5 / 8;
    }
  
  }

  .orange {
    grid-column: 1 / 5;
    grid-row: 4 / 7;
    background: #F8962F;
  
    .white-circle {
      width: 113.87px;
      height: 113.87px;
      border-radius: 50%;
      background: $skwhite;
      display: flex;
      justify-content: center;
      align-items: center;
      //margin-bottom: 20px;
    }

    @media (max-width: $mobile) {
      grid-column: 1 / 4;
      grid-row: 8 / 11;
    }
  }

  .black {
    grid-column: 5 / 13;
    grid-row: 1 / 5;
    background: $skblack;
  
    @media (max-width: $mobile) {
      grid-column: 1 / 7;
      grid-row: 1 / 5;
    }
  
  }

  .purple {
    grid-column: 5 / 9;
    grid-row: 5 / 7;
    background: #635EA9;
  
    @media (max-width: $mobile) {
      grid-column: 1 / 4;
      grid-row: 11 / 13;
    }
  }

  .mint {
    grid-column: 9 / 13;
    grid-row: 5 / 7;
    background: $skgreen;
  
    @media (max-width: $mobile) {
      grid-column: 4 / 7;
      grid-row: 11 / 13;
    }
  
  }

  .skyblue {
    grid-column: 13 / 17;
    grid-row: 1 / 7;
    background: #58A1D6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0;
  
    .skyblue-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    
      .skyblue-text {
        padding: 30px;
      }
    }
    @media (max-width: $mobile) {
      grid-column: 4 / 7;
      grid-row: 5 / 11;
    }
  }

  .gs-content {
    margin-top: 20px;
    padding: 0 30px;
  }

  .gs-other {
    grid-column: 5 / 13;
    grid-row: 7;
    text-align: center;
    margin-top: 45px;
    font-family: $skfont;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: -0.003em;

    .fake-link {
      color: $skgreen;
      text-decoration: underline;
    }

    @media (max-width: $mobile) {
      grid-column: 1 / 7;
      grid-row: 13 / 13;
    }
  }

  .or-text {
    width: 100%;
    display: flex;
    align-items: center;
    font-style: italic;


    hr {
      width: 73px;
      height: 1px;
      background: $skLightGrey;
      border: none;
    }
  }
}

.sell-smarter {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 0;
    max-width: 510px;
    text-align: center;
  }

  .support-img-container {
    width: 400px;
    height: 200px;
  
    @media (max-width: $mobile) {
      width: 100%;
      height: 150px;

    }
  }
  .sell-smarter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-gap: 59px;
    margin-top: 60px;

    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 150px);
      grid-gap: 10px;
      margin-top: 20px;

      .two {
        grid-row: 2/2;
      }

      .four {
        grid-row: 4/4;
      }

      .six {
        grid-row: 6/6;
      }

      .eight {
        grid-row: 8/8;
      }
  }
  }
  .sell-smarter-grid-text {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      margin: 0;
    }

    p {
      font-family: $skfont;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */
      letter-spacing: -0.005em;
      margin: 0;
      text-align: left;
    }

    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }
}

.expert-support {
  background: $skblack;
  max-width: 1200px;
  height: 551.57px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  
  .expert-support-img-container {
    width: 510px;
  
    @media (max-width: $mobile) {
      width: 100%;
      height: auto;
    }
  }

  .expert-support-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 486px;
      color: $skLightPara;
      font-family: $skfont;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 29px;
      /* or 145% */
      letter-spacing: -0.5px;

    h2 {
      color: $skwhite;
      text-align: left;
      font-size: 48px;
      margin-bottom: 14px;
    }
    @media (max-width: $mobile) {
      width: 90%;
      margin: 0 auto;
    }
  }

  @media (max-width: $mobile) {
    padding: 0;
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }
}

.customer-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 161.35px auto;

  hr {
    height: 4px;
    width: 122.02px;
    background: $skMidGrey;
    border: 0px;
  }
}

.customer-story-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  min-height: 350px;
  margin: 86px 0;
  
  .grey-rectangle {
    background: $skLightGrey;
    border-radius: 4px;
    width: 127.7px;
    height: 38.87px;
  }

  .customer-story-text {
    font-family: $skfont;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    line-height: 54px;
    /* or 112% */

    text-align: center;
    letter-spacing: -1.5px;
  
    @media (max-width: $mobile) {
      font-size: 2.5em;
      line-height: 45px;
      //padding: 0 20px;
      margin: 40px 20px;
    }
  }

  .customer-story-link {
    color: $skblack;
    text-decoration: none;
    border-bottom: 1px solid $skOffBlack;
    padding-bottom: 6px;
    font-family: $skfont;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-align: center;
    letter-spacing: -0.003em;

    &:hover {
      border-bottom: 1px solid $skgreen;
    }
  }
}

.join-us {
  height: 591.13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $skgreen;
  color: $skwhite;
  font-family: $skfont;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  /* or 112% */

  text-align: center;
  letter-spacing: -1.5px;

  .join-us-content {
    max-width: 706.86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}