@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $skfont;
  font-style: normal;
  font-weight: 600;
  font-size: 62px;
  line-height: 62px;
  /* or 101% */

  letter-spacing: -3px;
}

h2 {
  font-family: $skfont;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  /* identical to box height, or 112% */

  text-align: center;
  letter-spacing: -1.5px;
}

p {
  font-family: $skfont;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */

  letter-spacing: -0.003em;
}

.start-button-small {
  background: $skgreen;
  padding: 15px 25px;
  color: $skwhite;
  text-decoration: none;
  border-radius: 84px;
}

.start-button-large {
  background: $skgreen;
  padding: 20px 40px;
  color: $skwhite;
  text-decoration: none;
  border-radius: 100px;
  font-family: $skfont;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  letter-spacing: -0.003em;

  &-green {
    padding: 15px 34px;
    text-decoration: none;
    border-radius: 100px;
    font-family: $skfont;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    
    letter-spacing: -0.003em;
    color: $skgreen;
    background: $skwhite;
    margin-top: 34px;
  }
}

/* index.js */

.hero {
  height: 798px;
  width: 100%;
  background:  linear-gradient(90deg, #F4F4F4 23.2%, rgba(248, 248, 248, 0) 44.65%), url("../../static/hero-image.png");
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;

  .hero-text {
    max-width: 1200px;
    margin-left: 163.02px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1, p, a {
      margin: 9px 0;
    }
    
    h1 {
      max-width: 620px;
    }

    p {
      max-width: 540px;
    }
  }
}

.scan-data {
  position: absolute;
  left: 34px;
  color: $skblack;
  font-family: $skfont;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  letter-spacing: -0.5px;
}

.expert-support {
  background: $skblack;
  max-width: 1200px;
  height: 551.57px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  padding-left: 120px;

  .expert-support-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 486px;
      color: $skLightPara;
      font-family: $skfont;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 29px;
      /* or 145% */
      letter-spacing: -0.5px;

    h2 {
      color: $skwhite;
      text-align: left;
      font-size: 48px;
      margin-bottom: 14px;
    }
  }

}

.customer-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 161.35px auto;

  hr {
    height: 4px;
    width: 122.02px;
    background: $skMidGrey;
    border: 0px;
  }
}

.customer-story-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  height: 350px;
  margin: 86px 0;
  
  .grey-rectangle {
    background: $skLightGrey;
    border-radius: 4px;
    width: 127.7px;
    height: 38.87px;
  }

  .customer-story-text {
    font-family: $skfont;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 54px;
    /* or 112% */

    text-align: center;
    letter-spacing: -1.5px;
  }

  .customer-story-link {
    color: $skblack;
    text-decoration: none;
    border-bottom: 1px solid $skOffBlack;
    padding-bottom: 6px;
    font-family: $skfont;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-align: center;
    letter-spacing: -0.003em;

    &:hover {
      border-bottom: 1px solid $skgreen;
    }
  }
}

.join-us {
  height: 591.13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $skgreen;
  color: $skwhite;
  font-family: $skfont;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  /* or 112% */

  text-align: center;
  letter-spacing: -1.5px;

  .join-us-content {
    max-width: 706.86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}